/* theme: github-light-float */
* {
    th-bg:            rgba(247, 247, 247, 96%);
    th-fg:            rgb(24, 24, 24);
    th-fg-selected:   rgba(24, 24, 24, 100%);
    th-row-alt:       rgba(24, 24, 24, 7%);
    th-row-selected:  rgba(225, 225, 225, 0.96);
    th-border-color:  rgba(24, 24, 24, 0.24);
    th-separator:     rgba(24, 24, 24, 0.14);
}
